<% if @login_fail == 1 %> 
	Username Incorrect.
<% end %>
<% if @login_fail == 2 %> 
	Password Doesn't Match.
<% end %>

<%= form_for :session, url: login_path, class: 'text' do |f|%>
<md-input-container>
	<label>Username</label>
	<%= f.text_field :username %><br>
</md-input-container>

<br>

<md-input-container>
	<label>Password</label>
	<%= f.text_field :password, type: "password" %><br>
</md-input-container>

<br>

<md-checkbox class="md-warn" ng-click="toggleRemember()">
Remember me on this device
</md-checkbox>
	<%= f.check_box :remember_me, :style => 'visibility: hidden' %>

<br>

	<%= f.submit 'LOGIN', class: 'md-primary md-button md-ink-ripple'%>


<% end %>

