<div layout="row">
<div flex></div>
<div>
<md-card>
<md-content class="login">

<%= form_for :user, url: users_path, remote: true do |f|%>
<md-input-container>
	<label>Username</label>
	<%= f.text_field :username %><br>
</md-input-container>

<br>

<md-input-container>
	<label>Email</label>
	<%= f.text_field :email %><br>
</md-input-container>

<br>

<md-input-container>
	<label>Password</label>
	<%= f.text_field :password, :type => 'password' %><br>
</md-input-container>

<br>

<md-input-container>
	<label>Confirm Password</label>
	<%= f.text_field :password_confirmation, :type => 'password' %><br>
</md-input-container>

<br>

	<md-button class="md-raised" type="submit">SIGNUP</md-button></br>
<% end %>

</md-content>
</md-card>
</div>
<div flex></div>
</div>
