<%= render 'header' %>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
   <!-- Indicators -->
   <ol class="carousel-indicators">
     <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
     <li data-target="#myCarousel" data-slide-to="1"></li>
   </ol>

   <!-- Wrapper for slides -->
   <div class="carousel-inner" role="listbox">
     <div class="item active">
      <%=image_tag "home_img/1.jpg"%>
       <div class="carousel-caption">
         <h3>Sell $</h3>
         <p>Money Money.</p>
       </div>
     </div>

     <div class="item">
       <%=image_tag "home_img/2.jpg"%>
       <div class="carousel-caption">
         <h3>More Sell $</h3>
         <p>Money Money.</p>
       </div>
     </div>
   </div>

   <!-- Left and right controls -->
   <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
     <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
     <span class="sr-only">Previous</span>
   </a>
   <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
     <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
     <span class="sr-only">Next</span>
   </a>
</div>

<div class="container text-center">
 <h3>What you can get here</h3><br>
 <div class="row">
   <div class="col-sm-4">
     <%=image_tag "home_img/3.jpg", class:"img-responsive"%>
     <p>we provide a platform for Chinese students who are looking for a car</p>
   </div>
   <div class="col-sm-4">
      <%=image_tag "home_img/4.jpg", class:"img-responsive"%>
     <p>You can find useful information here about the process of buying a car</p>
   </div>
   <div class="col-sm-4">
     <%=image_tag "home_img/5.jpg", class:"img-responsive"%>
     <p>There are multiple choices for you, you can find what you like</p>
   </div>
 </div>
</div><br>
 <%= render 'footer'%>
