<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%=image_tag "home/1.jpg"%>
      <div class="carousel-caption">
        <h3>2015 Chevrolet Camaro 2LS</h3>
        <p>3,000 Miles | $30,000</p>
      </div>
    </div>

    <div class="item">
      <%=image_tag "home/2.jpg"%>
      <div class="carousel-caption">
        <h3>2007 Honda CR-V</h3>
        <p>80,000 Miles | $10,000</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span class="sr-only">Previous</span></a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span class="sr-only">Next</span></a>
</div>

<div class="container text-center">
  <h3>YOU CAN</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <%=image_tag "home/3.jpg", class:"img-responsive"%>
			BUY A CAR
    </div>
    <div class="col-sm-4">
      <%=image_tag "home/4.jpg", class:"img-responsive"%>
			SELL A CAR
    </div>
    <div class="col-sm-4">
      <%=image_tag "home/5.jpg", class:"img-responsive"%>
			LEARN ABOUT CARS
    </div>
  </div>
</div>
