<% @cars = pagination(@cars) %>

<div layout="row">
<div flex>
  <% @cars.each do |car| %>
<md-card>
        <md-card-title>
          <md-card-title-text>
            <div class="md-headline"><%=car.year%> <%=car.make%> <%=car.model%></div>
						<div><span class="md-display-1">$<%=car.price%> </span>	<span class="md-headline"> <%=car.mileage%> mi</span> </div>
						<div>
						<md-button class='md-icon-button'><md-icon md-font-set="material-icons">location_on</md-icon></md-button>
						 <%=car.city%>, <%=car.state%></div>
						<div>
						<md-button class='md-icon-button'><md-icon md-font-set="material-icons">person</md-icon></md-button>
						<%=car.user.username.capitalize%></div>
						<div>
						<md-button class='md-icon-button'><md-icon md-font-set="material-icons">phone</md-icon></md-button>
						<%=car.contact%></div>
						<div>
          <% if did_login? && Favorite.where(car_id: car.id, user_id: current_user.id).count == 0 %>
          <md-button class='md-icon-button' ng-href="<%= user_favorites_path(current_user.id, :car_id => car.id)%>" data-method="post"><md-icon style="color: rgb(255, 82, 82);" md-font-set="material-icons">favorite_border</md-icon></md-button>
          <% end %>
          <% if did_login? &&  Favorite.where(car_id: car.id, user_id: current_user.id).count != 0 %>
          <% @fav = Favorite.where(car_id: car.id, user_id: current_user.id).ids%>
          <md-button class='md-icon-button' ng-href="<%= user_favorite_path(current_user.id, @fav.first)%>" data-method="delete"><md-icon style="color: rgb(255, 82, 82);" md-font-set="material-icons">favorite</md-icon></md-button>
          <% end %>
          <md-button class='md-icon-button' ng-href="<%= car_path(car.id)%>"><md-icon md-font-set="material-icons">description</md-icon></md-button>
          <% if did_login? &&  current_user.isadmin == true%>
          <md-button class='md-icon-button' ng-href="<%= car_path(car.id)%>" data-method="delete"><md-icon md-font-set="material-icons">delete</md-icon></md-button>
    			<% end %>
					</div>
 
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media" style="background-image: url('/assets/user_car/<%=car.picture.to_s%>');"></div>
          </md-card-title-media>
        </md-card-title>
      </md-card>
  <% end %>
  <%= will_paginate @cars %>
</div>
</div>
