<% @cars = pagination(@cars) %>

<%= will_paginate @cars %>

<% @cars.each do |car| %>
<div class="row car_item">
	<div class="col-sm-3 ">
		<%= image_tag("/assets/user_car/#{car.picture}", :alt => "rss feed", class: "car_item_image") %>
	</div>
	<%= link_to car_path(car.id) do %>
	<div class="col-sm-9">
		<div><%=car.year%> <%=car.make%> <%=car.model%></div>
		<div>$<%=car.price%></div>
		<div><%=car.mileage%>mi</div>
		<div><%=car.state%><%=car.city%></div>
		<div>post by:<%=car.user.username%></div>
		<div>contact:<%=car.contact%></div>
		<% if did_login?%>
		<div><%= link_to"Favorite", user_favorites_path(current_user.id), data: {params: {car_id: car.id}.to_param, method: :post, remote: true} %></div>
		<% end %>
	<% end %>
	</div>
</div>
<% end %>
