
<div layout="row">
  <div flex="20" class="side">
<div layout="column">
<div layout="column">

			<%= form_for :car , url: cars_path do |f| %>
			<md-input-container flex>
        <label>Year</label>
        <md-select ng-model="year">
          <md-option value="2000">2000</md-option>
        </md-select>
      </md-input-container>

			<md-input-container flex>
        <label>Year</label>
        <md-select ng-model="year">
          <md-option value="2000">2000</md-option>
        </md-select>
      </md-input-container>

			<md-input-container flex="50">
				<label>Mode</label>
				<%= f.text_field :model %><br>
			</md-input-container>

			<md-button class="md-raised" type="submit">SUBMIT</md-button>
	<%end%>

			<md-button class="md-raised" ng-href="<%= cars_path + "?" + {sort: 0}.to_param %>">Post Date \</md-button>
			<md-button class="md-raised" ng-href="<%= cars_path + "?" + {sort: 1}.to_param %>">Price \</md-button>
			<md-button class="md-raised" ng-href="<%= cars_path + "?" + {sort: 2}.to_param %>">Price /</md-button>
			<md-button class="md-raised" ng-href="<%= cars_path + "?" + {sort: 3}.to_param %>">Mileage \</md-button>
			<md-button class="md-raised" ng-href="<%= cars_path + "?" + {sort: 4}.to_param %>">Mileage /</md-button>
			<md-button class="md-raised" ng-href="<%= cars_path + "?" + {sort: 5}.to_param %>">Year \</md-button>
			<md-button class="md-raised" ng-href="<%= cars_path + "?" + {sort: 6}.to_param %>">Year /</md-button>
			<md-button class="md-raised" ng-href="<%= cars_path + "?" + {sort: 7}.to_param %>">Make/Model</md-button>

</div>
</div>    
  </div>

  <div flex>

<%= render 'cars/item' %>
  </div>

  <div flex="10" hide-xs hide-sm></div>
</div>
