<%= render 'users/side' %>
<% @cars.each do |car|%>
<div class="carlist">
 <div class="col-sm-3 ">
   <div><%= image_tag("/assets/user_car/#{car.picture}", :alt => "rss feed") %></div>
 </div>
 <%= link_to car_path(car.id) do %>
 <div class="col-sm-9 ">
   <div class="cartitle"><%=car.year%><%=car.make%><%=car.model%></div>
   <div class="carprice">$<%=car.price%></div>
   <div class="carmileage"><%=car.mileage%>mi</div>
   <div class="carlocation"><%=car.state%><%=car.city%></div>
   <div class="carseller">post by:<%=car.user.username%></div>
   <div class="carcontact">contact:<%=car.contact%></div>
   <%= link_to 'Delete',car_path(car.id), method: :DELETE,data:{confirm: 'Are you sure?'}%>
 </div>
 <%end %>
</div>
<% end %>
