<div layout="row">

<div flex="10" hide-xs></div>

<div layout="column" flex>
	<md-card>
		<md-card-content>
			<%= form_for :car , url: cars_path do |f| %>
			
			<div layout="row">

			<md-input-container flex>
        <label>Year</label>
        <md-select ng-model="year">
          <md-option value="2000">2000</md-option>
        </md-select>
      </md-input-container>

			
			<md-input-container flex>
        <label>Make</label>
        <md-select ng-model="make">
          <md-option value="Chevrolet">Chevrolet</md-option>
        </md-select>
      </md-input-container>


			<md-input-container flex="50">
				<label>Mode</label>
				<%= f.text_field :model %><br>
			</md-input-container>

			</div>

			<div layout="row">
			<md-input-container flex="50">
				<label>Mileage</label>
				<%= f.text_field :mileage %><br>
			</md-input-container>
			<md-input-container flex="50">
				<label>Price</label>
				<%= f.text_field :price %><br>
			</md-input-container>

			</div>

			<div layout="row">
			<md-input-container flex="50">
        <label>State</label>
        <md-select ng-model="state">
          <md-option value="TX">TX</md-option>
        </md-select>
      </md-input-container>

			<md-input-container flex="50">
				<label>City</label>
				<%= f.text_field :city %><br>
			</md-input-container>

			</div>

			<md-input-container class="md-block">
          <label>Notes</label>
          <textarea ng-model="notes" md-maxlength="256" rows="5" md-select-on-focus></textarea>
			</md-input-container>

			<div layout="row">
			<%= f.file_field :picture, :style =>'display:none' %>
			<label for="car_picture" class="md-button md-raised">Choose Files</label>

			<div flex></div>
			
			<md-button class="md-raised" type="submit">SUBMIT</md-button>

			</div>

			<% end %>
		</md-card-content>
	</md-card>
</div>

<div flex="10" hide-xs></div>

</div>

