<div class="container-fluid">
  <div class="row content post">
       <div class="col-sm-3 ">
        <div class='postname'>PostBy:<%=@car.user.username %></div>
        <div class='postcreatetime'>createtime:<%=@car.created_at%></div>
        <div class='postupdatetime'>updatetime:<%=@car.updated_at%></div>
       </div>
       <div class="col-sm-9 ">
        <div class='postyear'>year:<%=@car.year %></div>
        <div class='postmake'>make:<%=@car.make %></div>
        <div class='postmodel'>model:<%=@car.model %></div>
        <div class='postmileage'>mileage:<%=@car.mileage %></div>
        <div class='postprice'>price:<%=@car.price%></div>
        <!-- label if sold -->
        <div class='postissold'>issold:
         <%= form_for @car,html:{class:"issold"},url:car_show_path do |f| %>
            <%= f.select :issold,[['No',0],['Yes',1]]%>
          <% end %>
        </div>
        <div class='postcontact'>contact:<%=@car.contact%></div>
        <div class='postcity'>city:<%=@car.city%></div>
        <div class='poststate'>state:<%=@car.state%></div>
        <div class='postnote'>notes:<%=@car.notes%></div>
        <div class='postpicture'>picture:<%= image_tag("/assets/user_car/#{@car.picture}") %></div>
       </div>
</div>
<!-- list the comment -->
<% @car.comments.each do |comment|%>
<div class="row content comment">
    <div class="col-sm-3 reply">
      reply:<%= comment.user.username%><br>
      Jointime:<%= comment.user.created_at %>
    </div>
    <div class="col-sm-9">
      <%= comment.content%>
    </div>
</div>
<%end%>
<!-- add comment -->
<div class="row content">
  <div class="col-sm-3 commentadd">
   Add a comment
  </div>
  <div class="col-sm-9 ">
    <%= form_for :comment,html:{class: "content_text"}, url: comment_create_path  do |f| %>
    <%= f.text_area(:content, cols: 100,rows: 5)%>
    <p><%=f.submit%></p>
  <%end%>
  </div>

</div>
</div>
