<div class="page-container">
   <div class="page">

     <div layout="row">
        <div flex="10"></div>
        <div flex="20">
        <h1><%=@car.user.username %></h1>
        <p><%=@car.created_at%></p>
        <p><%=@car.updated_at%></p>
        </div>
        <div flex="50">
        <h1><%=@car.year %>  <%=@car.make %> <%=@car.model %></h1>
        <h3>$<%=@car.price%> | <%=@car.mileage %>mi</h3>
        <h3>city:<%=@car.city%> State:<%=@car.state%> Contact:<%=@car.contact%> </h3>
        <!-- label if sold -->
        <h3>issold:<%= @car.issold%>
          <% if did_login? && current_user == @car.user.username%>
           <%= form_for :car,html:{class:"issold"},url:car_path(@car.id), method: :patch do |f| %>
            <%= f.select :issold,[['No',0],['Yes',1]]%>
            <%= f.submit%>
          <% end %>
          <% end %>
        </h3>
        <div class=''>Notes:<%=@car.notes%></div>
        <div class=''><%= image_tag("/assets/user_car/#{@car.picture}") %></div>
        </div>
      </div>
     <hr>
<!-- list the comment -->
<% @car.comments.each do |comment|%>
<div layout="row",class="">
  <div flex="10"></div>
    <div  flex="20", class="">
      <h3><%= comment.user.username%></h3>
      <h4><%= comment.user.created_at %></h4>
    </div>
    <div class="col-sm-9">
     <p><%= comment.content%></p>
    </div>
</div>
<%end%>
<!-- add comment -->
<% if did_login?%>
 <div layout="row">
  <div flex="10"></div>
   <div  flex="20">
   </div>
    <%= form_for :comment,html:{ flex: "70"}, url: car_comments_path(@car.id)  do |f| %>
    <%= f.text_area(:content, cols: 1,rows: 1, :style => 'display: none')%>
    <md-input-container class="md-block">
        <label>Comment</label>
        <textarea ng-change="contentChanged()" ng-model="comment" md-maxlength="256" rows="5" md-select-on-focus></textarea>
    </md-input-container>
    <md-button class="md-raised" type="submit">comment</md-button>
    <%end%>
 </div>
<%end%>

</div>
</div>
