<md-toolbar class="md-tall header-toolbar">
	<div class="md-toolbar-tools">
		<span flex="10" hide-sm hide-xs></span>
		<%= link_to 'CARTOPIA', root_path %>
		<span flex></span>
		<%= link_to 'BUY', cars_path %>
		<%= link_to 'SELL', new_car_path %> 
		<%= link_to 'INFO', info_path %> 

<% if did_login? %>

<md-menu md-position-mode="target-right target" >
          <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
			<md-icon md-font-set="material-icons">account_circle</md-icon>
          </md-button>
          <md-menu-content width="1" >
            <md-menu-item>
              <md-button>
                  <div layout="row" flex>
<%= link_to user_cars_path(current_user) do%>
                    <p>MY CARS</p>
<% end %>
                  </div>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button>
                  <div layout="row" flex>
<%= link_to user_favs_path(current_user) do%>
                    <p>MY FAVS</p>
<% end %>
                  </div>
              </md-button>
            </md-menu-item>

            <md-menu-item>
              <md-button>
                  <div layout="row" flex>
<%= link_to logout_path, method: :delete  do%>
                    <p>LOGOUT</p>
<% end %>
                  </div>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

<% else %>

<md-menu md-position-mode="target-right target" >
          <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
			<md-icon md-font-set="material-icons">account_circle</md-icon>
          </md-button>
          <md-menu-content width="1" >
            <md-menu-item>
              <md-button>
                  <div layout="row" flex>
<%= link_to login_path do%>
                    <p>LOGIN</p>
<% end %>
                  </div>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button>
                  <div layout="row" flex>
<%= link_to new_user_path do%>
                    <p>SIGNUP</p>
<% end %>
                  </div>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
<% end %>


		<span flex="10" hide-sm hide-xs></span>
	</div>
</md-toolbar>
