<nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
				<%= link_to 'CARTOPIA', root_path, class:'navbar-brand' %>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'BUY', cars_path + "?" + {sort: 0}.to_param %></li>
          <li><%= link_to 'SELL', new_car_path %></li>
					<li><%= link_to 'INFO', info_buy_path %></li>
          <% if did_login? %>


      <li class="dropdown">
				<%= link_to current_user.username.upcase, cars_path,{ :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'} %>
        <ul class="dropdown-menu">
          <li><a href="#">My Cars</a></li>
          <li><a href="#">My Favorites</a></li>
          <li><a href="#">Logout</a></li> 
        </ul>
      </li>


          <li><%= link_to current_user.username.upcase,user_cars_path(current_user.id)%></li>
          <li><%= link_to 'LOGOUT', logout_path, method: :delete%></li>
          <% else %>
          <li><%= link_to 'SIGNUP', new_user_path %></li>
          <li><%= link_to 'LOGIN', login_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
</nav>
