<nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
				<%= link_to 'CARTOPIA', root_path, class:'navbar-brand' %>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'BUY',search_path %></li>
          <li><%= link_to 'SELL' %></li>
          <li><%= link_to 'SIGN UP' %>
          <li><%= link_to 'LOGIN' %>
        </ul>
      </div>
    </div>
</nav>
